

table {
    width: 100%;
    border-collapse: collapse;

  }
  
  thead th, tbody td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  
  thead th {
    background-color: darkblue;
  }
  
  tbody tr:nth-child(even) {
    background-color: black;
  }
  
  h1{
    padding: 10px;
    margin: 10px;
   
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
  }