.MyTbody {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid blue;
  }
  
  .MyTbody td, .MyTbody th {
    border: 1px solid black;
    padding: 8px;
  }
  
  .MyTbody th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
  }

  
  
  .email-column[data-type$=".biz"] {
    background-color: red;
  }
  


  